# Core Web Framework and Server
fastapi
uvicorn[standard]
Jinja2

# API Calls and Environment Variables
httpx
python-dotenv

# FastAPI Dependencies
starlette

# Natural Language Processing (NLP) - CRITICAL FIX
spacy==3.7.5
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz

pymongo


motor==3.3.2
pymongo==4.7.3